body {
  background-color: #B4F8C8;
  font-family: "Nunito", sans-serif;
}

.blurb h2 {
  color: #FF75D8;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: 	#AB1A44;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#mainnav .navbar-brand, #mainnav .nav-link {
  color: #EA1C2C;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainnav .nav-link {
  color: #FF75D8;
}

#mainnav .nav-link:hover {
  color: #EA1C2C;
}

#mainnav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#headingGroup span {
  color: white;
}

#headingGroup h1 {
  color: #FF75D8;
  font-weight: 100;
  font-size: 2.5rem;
}

.navbar.scrolled {
  background-color: #d2fade;
  transition: background 500ms;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 2rem;
  }
}
